<html>
	<head>
		<title>

		</title>
	</head>
 <body>
 Welcome {{ name }}
  <form action="/placeorder/" method="POST">
	{% csrf_token %}
  	<input type="number" name="type1" value="0" max = "10" min = "0"> metre: <input type="number" name="one" value="0"  max = "10" min = "0"><br>
  	<input type="number" name="type2" value="0" max = "10" min = "0"> metre: <input type="number" name="two" value="0"  max = "10" min = "0"><br>
    <input type="number" name="type3" value="0" max = "10" min = "0"> metre: <input type="number" name="three" value="0"  max = "10" min = "0"><br>
    <input type="number" name="type4" value="0" max = "10" min = "0"> metre: <input type="number" name="four" value="0"  max = "10" min = "0"><br>
    <input type="number" name="type5" value="0" max = "10" min = "0"> metre: <input type="number" name="five" value="0"  max = "10" min = "0"><br>
    Adress: <textarea name="address" cols="50" rows="5">
	{{ address }}
    </textarea>
	<br/>
    <input type="submit" value="Submit">
  </form> 
 </body>
</html>




